<!-- <p>about works!</p> -->

<!-- container image starts -->

<div class="owl-carousel owl-single px-0">
  <div class="site-blocks-cover overlay" style="background-image: url('assets/images/hero_bg.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto align-self-center">
          <div class="site-block-cover-content text-center">
            <h1 class="mb-0"><strong class="text-primary">Commited</strong> to care</h1>

            <div class="row justify-content-center mb-5">
              <div class="col-lg-6 text-center">
                <p>We are committed to provide an unparalleled level of service with the highest understanding, care and trustworthiness.</p>
              </div>
            </div>
            
            <p><a href="store" class="btn btn-primary px-5 py-3">Shop Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-blocks-cover overlay" style="background-image: url('assets/images/hero_bg_2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto align-self-center">
          <div class="site-block-cover-content text-center">
            <h1 class="mb-0">New Medicine <strong class="text-primary">Everyday</strong></h1>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-6 text-center">
                <p>we provide a wide range of prescribed medicines and other healthcare products conveniently available for all.</p>
              </div>
            </div>
            <p><a href="store" class="btn btn-primary px-5 py-3">Shop Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  <!-- container image ends -->

  <!-- contact,aboutus,navigation starts -->

  <footer class="site-footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

          <div class="block-7">
            <h3 class="footer-heading mb-4">About <strong class="text-primary">Us</strong></h3>
            <p>Brothers Medicals has always been and has continued to be the best choice for all your pharmacy needs. To help our valued customers to avoid last minute hassles, we proudly introduce to you a new and innovative solution</p>
          </div>

        </div>
        <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
          <h3 class="footer-heading mb-4">Vision</h3>
         <p> We firmly believe that it is our motto to touch as many as lives as possible by ensuring the availability of best healthcare and pharmaceutical products, reaching out of the needy hands and reduce the incidence of diseases.</p>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">MA Road <br> Near Bata <br> 670001 <br> KANNUR</li>
              <li class="phone"><a href="tel://23923929210">+919496831275</a></li>
              <li class="email">sarathp22@gmail.com</li>
            </ul>
          </div>


        </div>
      </div>
     
    </div>
  </footer>

<!-- contact,aboutus,navigation end -->