<!-- <p>register works!</p> -->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form" #userSignup="ngForm" (ngSubmit)="registerUser()">
                <span class="login100-form-title p-b-70">
                    Sign Up
                </span>
                <span class="login100-form-avatar">
                    <img src="assets/imagesUser/avatar-01.jpg" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-25" data-validate = "Enter username">
                    <input class="input100" type="text"  [(ngModel)]="user.firstName" #name=ngModel [class.is-invalid]="name.invalid && name.touched" name="fname" pattern="^[a-zA-Z]+$"  required>
                    <span class="focus-input100" data-placeholder="First Name"></span>
                   
                </div>
                <small class="text-danger" [class.d-none]="name.valid || name.untouched">Characters Only </small>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" type="text"  #lname=ngModel [class.is-invalid]="lname.invalid && lname.touched" name="lastname" pattern="^[a-zA-Z\s]+$"  required [(ngModel)]="user.lastName">
                    <span class="focus-input100" data-placeholder="Last Name"></span>
                    
                </div>
                <small class="text-danger" [class.d-none]="lname.valid || lname.untouched">Characters and space Only</small>
                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter address">
                    <!-- <input class="input100" type="text" name="username"> -->
                    <textarea name="address" id="" cols="30" rows="8" class="input100" #address=ngModel [(ngModel)]="user.address" required></textarea>
                    <span class="focus-input100" data-placeholder="Address"></span>
                </div>
                <small class="text-danger" [class.d-none]="address.valid || address.untouched">Enter Address</small>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter pin">
                    <input class="input100" type="number" name="pin" #pin=ngModel [(ngModel)]="user.pinCode" pattern="^[0-9]{6,6}$" required>
                    <span class="focus-input100" data-placeholder="PIN code"></span>
                </div>
                <small class="text-danger" [class.d-none]="pin.valid || pin.untouched">Enter a valid pin code</small>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter phone">
                    <input class="input100" type="number"  #phone=ngModel [class.is-invalid]="phone.invalid && phone.touched" name="phone" pattern="^[0-9]{10,10}$"   required [(ngModel)]="user.phoneNumber">
                    <span class="focus-input100" data-placeholder="Phone Number"></span>
                    
                </div>
                <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Enter 10 digit Number</small>


                <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter email">
                    <input class="input100" type="text"  #email=ngModel [class.is-invalid]="email.invalid && email.touched" name="email" pattern="^[a-z0-9.%+.]+@[a-z0-9.-]+\.[a-z]{2,4}$" required [(ngModel)]="user.emailId">
                    <span class="focus-input100" data-placeholder="Email Id"></span>
                </div>
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">Enter a valid email</small>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" type="password" #password=ngModel [class.is-invalid]="password.invalid && password.touched" name="password" minlength="8"  required [(ngModel)]="user.password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                <small class="text-danger" [class.d-none]="password.valid || password.untouched">Enter minimum 8 characters</small>

                <div class="text-center"><small class="text-danger ">{{errData}}</small></div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn mt-5" [disabled]="userSignup.form.invalid">
                        Sign Up
                    </button>
                </div>

                <ul class="login-more p-t-190">
                    <!-- <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li> -->

                    <li>
                        <span class="txt1">
                            Already an account?
                        </span>

                        <a href="/login" class="txt2">
                            Login
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>