<!-- <p>login works!</p> -->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form" #userLogin="ngForm" (ngSubmit)="loginUsers()">
                <span class="login100-form-title p-b-70">
                    Log In
                </span>
                <span class="login100-form-avatar">
                    <img src="assets/imagesUser/avatar-01.jpg" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-25" data-validate = "Enter username">
                    <input class="input100" type="text" #email=ngModel [class.is-invalid]="email.invalid && email.touched" name="email" pattern="^[a-z0-9.%+.]+@[a-z0-9.-]+\.[a-z]{2,4}$" required [(ngModel)]="login.email">
                    <span class="focus-input100" data-placeholder="Email Id"></span>
                </div>
                <small class="text-danger" [class.d-none]="email.valid || email.untouched">Enter a valid email</small>


                <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                    <input class="input100" type="password" #password=ngModel [class.is-invalid]="password.invalid && password.touched" name="password" minlength="8"  required [(ngModel)]="login.password">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>
                <small class="text-danger " [class.d-none]="password.valid || password.untouched">Enter a valid password</small>

                <div class="text-center"><small class="text-danger text-center">{{errData}}</small></div>
                <div class="container-login100-form-btn mt-5">
                    <button type="submit" class="login100-form-btn" [disabled]="userLogin.form.invalid">
                        Login
                    </button>
                </div>

                <ul class="login-more p-t-190">
                    <!-- <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li> -->

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a href="register" class="txt2">
                            Sign up
                        </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

